.language-switcher {
  .btn-link {
    color: var(--text-black);
    text-decoration: none;
    padding: 0.5rem 1rem;
    align-items: center;
    
    &:hover {
      color: #666;
    }
  }

  .dropdown-menu {
    min-width: 120px;
    
    .dropdown-item {
      padding: 0.5rem 1rem;
      cursor: pointer;
      
      &.active {
        background-color: #f8f9fa;
        color: #333;
      }
      
      &:hover {
        background-color: #e9ecef;
      }
    }
  }
}

// RTL support
[dir="rtl"] {
  .language-switcher {
    .dropdown-menu {
      text-align: right;
    }
  }
}

.sidebar {
  width: 100%;
  padding: 0.5rem 1rem;
  color: #666;

  .title {
    font-size: 14px;
    margin: 0.5rem 1rem;
    text-align: center;
  };

  ul {
    list-style-type: none;
    padding: 0;
  };

  li {
    padding: 8px 12px;
    cursor: pointer;
    border-left: 3px solid transparent;
    margin: 1rem;
  
    &:hover{
      background-color: #e9ecef;
      color:var(--text-black);
    }
  
    &.active{
      color: #0095DA;
      border-left-color: #0095DA;
      background-color: #f8f9fa;;
    }
  
  }

}


.menu {
  li {
      margin: 0.25rem 0.5rem;
      border-radius: 4px;
      border: 0 !important;
      position: relative;
      font-size: 13px;
      padding: 0.65rem 0.75rem;

      &:first-child {
        margin-top: 0;
      }
    
    &.active:before {
        content: "";
        position: absolute;
        top: 0;
        left: -2px;
        background-color: var(--secondary-color);
        height: calc(100% - 0.75rem);
        width: 4px;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 20px;
      }
  }
  span {
    font-size: 14px;
  }
}