.language-switcher {
  .btn-link {
    color: var(--text-black);
    text-decoration: none;
    padding: 0.5rem 1rem;
    align-items: center;
    
    &:hover {
      color: #666;
    }
  }

  .dropdown-menu {
    min-width: 120px;
    
    .dropdown-item {
      padding: 0.5rem 1rem;
      cursor: pointer;
      
      &.active {
        background-color: #f8f9fa;
        color: #333;
      }
      
      &:hover {
        background-color: #e9ecef;
      }
    }
  }
}

// RTL support
[dir="rtl"] {
  .language-switcher {
    .dropdown-menu {
      text-align: right;
    }
  }
}

.sidebar {
  width: 100%;
  padding: 0.5rem 1rem;
  color: #666;

  .title {
    font-size: 14px;
    margin: 0.5rem 1rem;
    text-align: center;
  };

  ul {
    list-style-type: none;
    padding: 0;
  };

  li {
    padding: 8px 12px;
    cursor: pointer;
    border-left: 3px solid transparent;
    margin: 1rem;
  
    &:hover{
      background-color: #e9ecef;
      color:var(--text-black);
    }
  
    &.active{
      color: #0095DA;
      border-left-color: #0095DA;
      background-color: #f8f9fa;;
    }
  
  }

}


