<div class="body-content">
    <div class="cards d-flex flex-wrap justify-content-center align-items-stretch">
        <a *ngFor="let card of Homecards" [routerLink]="card.link" class="card"
            [ngStyle]="{'background-color': card.backgroundColor}">
            <div class="icon">
                <img [src]="card.imgSrc" alt="" />
                <span *ngIf="getNotificationCount(card.link) > 0" class="notification-badge">
                    {{ getNotificationCount(card.link) }}
                </span>
            </div>
            <div class="title">
                <h2>{{ card.titleKey | translate }}</h2>
                <i class="fa fa-arrow-right"></i>
            </div>
        </a>
    </div>
</div>