.pointer{
    color: #999;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-right: 3px;
}

.pointer:hover{
    color: #282626;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-right: 3px;
}