<div class="body-content">
  <!--title-->
  <div class="d-flex justify-content-between mb-3">
    <h1 class="page-title">
      <app-back-button></app-back-button>{{ "SEARCH.TITLE" | translate }}
    </h1>
    <button class="btn btn-secondary mb-2" (click)="toggleSearchForm()">
      <i
        class="fa"
        [ngClass]="formVisible ? 'fa-chevron-up' : 'fa-chevron-down'"
      ></i>
    </button>
  </div>

  <!-- Form -->
  <div *ngIf="formVisible" [@expandCollapse]>
    <div class="row">
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="form-group">
          <label for="sendingEntity" class="form-label">{{
            "SEARCH.FORM.SENDING_ENTITY" | translate
          }}</label>
          <ng-select
            name="sendingEntity"
            id="ddlSendEntity"
            [(ngModel)]="searchModel.documentSender"
            [items]="sendingEntities"
            bindLabel="name"
            bindValue="id"
            [placeholder]="'SEARCH.FORM.SELECT_ENTITY' | translate"
            class="form-control"
            (search)="onSearchSendingEntites($event)"
            (open)="getSendingEntites('')"
          >
          </ng-select>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="form-group">
          <label for="recEntity" class="form-label">{{
            "SEARCH.FORM.RECEIVING_ENTITY" | translate
          }}</label>
          <ng-select
            name="recEntity"
            id="ddlRecEntity"
            [(ngModel)]="searchModel.documentReceiver"
            [items]="recEntities"
            bindLabel="name"
            bindValue="id"
            [placeholder]="'SEARCH.FORM.SELECT_ENTITY' | translate"
            class="form-control"
            (search)="onSearchReceivingEntites($event)"
            (open)="getReceivingEntites('')"
          >
          </ng-select>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="form-group">
          <label for="ddlFromUsers" class="form-label">{{
            "SEARCH.FORM.TRANSFER.FROM_USER" | translate
          }}</label>
          <ng-select
            id="ddlFromUsers"
            name="fromUser"
            [(ngModel)]="searchModel.fromUser"
            [items]="searchFromUsers"
            bindLabel="fullName"
            bindValue="id"
            [placeholder]="'SEARCH.FORM.SELECT_USER' | translate"
            class="form-control"
            (search)="onSearchUsers($event, true)"
            (open)="getFromUsers('')"
          >
          </ng-select>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="form-group">
          <label for="ddlToUsers" class="form-label">{{
            "SEARCH.FORM.TRANSFER.TO_USER" | translate
          }}</label>
          <ng-select
            id="ddlToUsers"
            name="toUsers"
            [(ngModel)]="searchModel.toUser"
            [items]="searchToUsers"
            bindLabel="fullName"
            bindValue="id"
            [placeholder]="'SEARCH.FORM.SELECT_USER' | translate"
            class="form-control"
            (search)="onSearchUsers($event, false)"
            (open)="getToUsers('')"
          >
          </ng-select>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="form-group">
          <label for="ddlTransEntity" class="form-label">{{
            "SEARCH.FORM.TRANSFER.FROM_STRUCTURE" | translate
          }}</label>
          <ng-select
            id="ddlTransEntity"
            name="transFrom"
            [(ngModel)]="searchModel.fromStructure"
            [items]="transferFromEntities"
            bindLabel="name"
            bindValue="id"
            [placeholder]="
              'DELEGATION.PLACEHOLDERS.SELECT_STRUCTURE' | translate
            "
            (search)="onSearchTransferFromEntites($event)"
            class="form-control"
            (open)="getTransferFromEntites('')"
          >
          </ng-select>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="form-group">
          <label for="ddlTransFromEntity" class="form-label">{{
            "SEARCH.FORM.TRANSFER.TO_STRUCTURE" | translate
          }}</label>
          <ng-select
            id="ddlTransFromEntity"
            name="transTo"
            [(ngModel)]="searchModel.toStructure"
            [items]="transferToEntities"
            bindLabel="name"
            bindValue="id"
            [placeholder]="
              'DELEGATION.PLACEHOLDERS.SELECT_STRUCTURE' | translate
            "
            (search)="onSearchTransferToEntites($event)"
            class="form-control"
            (open)="getTransferToEntities('')"
          >
          </ng-select>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <!--date-->
        <div class="form-group">
          <label for="datepicker" class="form-label">{{
            "SEARCH.FORM.TRANSFER.FROM_DATE" | translate
          }}</label>
          <input
            class="form-control date-picker"
            matInput
            [matDatepicker]="picker"
            placeholder="mm-dd-yyyy"
            [(ngModel)]="searchModel.fromTransferDate"
            name="dp1"
            (click)="picker.open()"
            (keydown)="preventTyping($event)"
            (ngModelChange)="onFromDateChange()"
          />
          <!-- (ngModelChange)="onFromDateChange()" -->
          <mat-datepicker #picker></mat-datepicker>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <!--date-->
        <div class="form-group">
          <label for="datepicker" class="form-label">{{
            "SEARCH.FORM.TRANSFER.TO_DATE" | translate
          }}</label>
          <input
            class="form-control date-picker"
            matInput
            [matDatepicker]="picker1"
            placeholder="mm-dd-yyyy"
            [(ngModel)]="searchModel.toTransferDate"
            name="dp2"
            (click)="picker1.open()"
            (keydown)="preventTyping($event)"
            [min]="minToDate"
          />
          <mat-datepicker #picker1></mat-datepicker>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <!--text-->
        <div class="form-group">
          <label for="txtKeyword" class="form-label">{{
            "SEARCH.FORM.KEYWORDS" | translate
          }}</label>
          <input
            type="text"
            id="txtKeyword"
            name="keyword"
            class="form-control"
            [(ngModel)]="searchModel.keyword"
          />
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <!--date-->
        <div class="form-group">
          <label for="datepicker" class="form-label">{{
            "SEARCH.FORM.DOCUMENT_DATE" | translate
          }}</label>
          <input
            class="form-control date-picker"
            matInput
            [matDatepicker]="picker3"
            placeholder="mm-dd-yyyy"
            [(ngModel)]="searchModel.DocumentDate"
            name="dp3"
            (click)="picker3.open()"
          />
          <mat-datepicker #picker3></mat-datepicker>
        </div>
      </div>
      <div
        class="col-sm-6 col-md-4 col-lg-3"
        *ngIf="delegationUsers.length > 1"
      >
        <div class="form-group">
          <label for="select2Example" class="form-label">{{
            "SEARCH.FORM.SEARCH_INBOX" | translate
          }}</label>
          <ng-select
            [(ngModel)]="searchModel.delegationId"
            [items]="delegationUsers"
            bindLabel="fromUser"
            bindValue="id"
            class="form-control"
          >
          </ng-select>
        </div>
      </div>
    </div>

    <!--actions-->
    <div class="d-flex justify-content-end gap-3 mt-2">
      <button class="btn btn-secondary btn-lg" (click)="clearForm()">
        {{ "SEARCH.BUTTONS.CLEAR" | translate }}
      </button>
      <button class="btn btn-primary btn-lg" (click)="onSearch()">
        <i class="fa fa-search"></i> {{ "SEARCH.BUTTONS.SEARCH" | translate }}
      </button>
    </div>
    <hr *ngIf="response" />
  </div>
  <p *ngIf="response && response.recordsTotal">
    {{
      "SEARCH.TABLE.TOTAL_RECORDS"
        | translate : { count: response.recordsTotal }
    }}
  </p>

  <div class="shadow table-container overflow-x-auto">
    <table
      class="table"
      *ngIf="response && response.data.length > 0"
      datatable
      [dtOptions]="dtOptions"
    >
      <thead>
        <tr>
          <th>{{ "SEARCH.TABLE.HEADERS.CATEGORY" | translate }}</th>
          <th>{{ "SEARCH.TABLE.HEADERS.REFERENCE_NUMBER" | translate }}</th>
          <th>{{ "SEARCH.TABLE.HEADERS.SUBJECT" | translate }}</th>
          <th>{{ "SEARCH.TABLE.HEADERS.CREATED_DATE" | translate }}</th>
          <th>{{ "SEARCH.TABLE.HEADERS.STATUS" | translate }}</th>
          <th>{{ "SEARCH.TABLE.HEADERS.ACTIONS" | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of response.data">
          <td>{{ getCategoryName(row.categoryId) }}</td>
          <td>{{ row.referenceNumber }}</td>
          <td>{{ row.subject }}</td>
          <td>{{ row.createdDate }}</td>
          <td>{{ row.statusText }}</td>
          <td>
            <button type="button" class="btn" (click)="showDetails(row)">
              <i class="fa fa-eye"></i>
            </button>
            <!--<button type="button" class="btn" (click)="onDelete(row)">
            <i class="fa fa-times-circle"></i>
          </button>-->
          </td>
        </tr>
      </tbody>
    </table>
    <!-- Message for No Data Found -->
    <div
      *ngIf="response && response.data.length === 0"
      class="text-center noData mt-3"
    >
      <p>{{ "COMMON.NO_DATA" | translate }}</p>
    </div>
    <app-toaster></app-toaster>
  </div>
</div>
