<div class="modal-header">
  <h2 id="modalSendToReceivingEntityTitle" class="modal-title">
    {{ "REPLY_DIALOG.TITLE" | translate }}
  </h2>
  <button type="button" class="btn btn-transparent" (click)="onClose()">
    <i class="fa fa-times"></i>
  </button>
</div>
<mat-dialog-content>
  <form [formGroup]="replyForm">
    <input id="hdSendDeligationId" type="hidden" value="" />
    <div class="row">
      <div class="col-sm-6 col-xs-12" id="customAttributeSenderContainer">
        <div class="form-group">
          <label class="control-label">
            <label for="ddlPurpose" class="form-label required">
              {{ "REPLY_DIALOG.TO" | translate }}</label
            >
          </label>
          <input class="form-control" [value]="to" disabled />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6" id="sendPurposeContainer">
        <div class="form-group">
          <!--<label for="ddlPurpose" class="form-label required">Purpose</label>-->
          <label for="ddlPurpose" class="form-label required">
            {{ "REPLY_DIALOG.PURPOSE" | translate }}</label
          >
          <!-- <ng-select
            id="ddlPurpose"
            formControlName="purpose"
            [items]="purposes || []"
            bindValue="id"
            placeholder=""
            class="form-control"
          > -->
          <ng-select
          id="ddlPurpose"
          formControlName="purpose"
          [items]="purposes || []"
          bindValue="id"
          placeholder=""
          class="form-control"
          (change)="onPurposeSelect($event)"
        >
            <ng-template ng-option-tmp let-item="item">
              {{ getName(item) }}
            </ng-template>
            <ng-template ng-label-tmp let-item="item">
              {{ getName(item) }}
            </ng-template>
          </ng-select>
          <div
            *ngIf="
              replyForm.controls['purpose'].invalid &&
              replyForm.controls['purpose'].touched
            "
            class="error-msg"
          >
            {{ "REPLY_DIALOG.PURPOSE_REQUIRED" | translate }}
            <!--Purpose is required-->
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="datepicker1" class="form-label">{{
            "MAIL_DETAILS.DUEDATE" | translate
          }}</label>
          <!--<label for="datepicker1" class="form-label">Due Date</label>-->
          <input
            class="form-control date-picker"
            matInput
            [matDatepicker]="picker"
            placeholder="dd-mm-yyyy"
            formControlName="dueDate"
            (paste)="preventPaste($event)"
            (keydown)="preventInput($event)" 
            name="dp1"
            (click)="picker.open()"
            [min]="minDate"
          />
          <mat-datepicker #picker></mat-datepicker>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
            <label for="ddlUserWStructure" class="form-label required">
            {{ "REPLY_DIALOG.TO" | translate }}</label
          >
          <ng-select
          id="ddlUserWStructure"
          formControlName="structure"
          [items]="users || []"
          bindLabel="name"
          bindValue="id"
          placeholder=""
          class="form-control"
          (change)="onUserSelect($event)"
        >
          <ng-template ng-label-tmp let-item="item">
            {{ item.name }}
          </ng-template>
          </ng-select>
          
        </div>
      </div>
      <div class="col-md-6">
        <button 
        class="btn btn-primary mt-4" 
        (click)="addUserToTextarea()" 
        [disabled]="!selectedUserName || !selectedPurposeName"
        >
     
        {{ "REPLY_DIALOG.BUTTONS.ADD" | translate }}
      </button>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <label class="control-label">
            {{
            "REPLY_DIALOG.INSTRUCTIONS" | translate
            }}
          </label>
          <!-- <textarea class="form-control"
                    tabindex="52"
                    rows="5"
                    maxlength="220"
                    formControlName="txtArea"
                    id="txtAreaInstruction"
                    [(ngModel)]="textareaValue">
          </textarea> -->
          <textarea 
          class="form-control"
          tabindex="52"
          rows="5"
          maxlength="220"
          formControlName="txtArea"
          id="txtAreaInstruction"
          [(ngModel)]="textareaValue">
        </textarea>
          <div class="error-msg text-muted">{{"REPLY_DIALOG.MAXLENGTH"|translate}}</div>
        </div>
      </div>
    </div>
  </form>
  <small class="required">
    <!--<span class="text-danger">*</span>Required Fields-->
    <span class="text-danger">*</span> {{ "REPLY_DIALOG.REQUIRED" | translate }}
  </small>
</mat-dialog-content>
<app-toaster></app-toaster>

<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="onClose()">
    {{ "REPLY_DIALOG.BUTTONS.CLOSE" | translate }}
  </button>
  <button type="button" class="btn btn-primary" (click)="onSubmit()">
    <i class="fa fa-save"></i> {{ "REPLY_DIALOG.BUTTONS.SEND" | translate }}
  </button>
</div>
