<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="btn btn-transparent" (click)="onClose()"></button>
        <h4 id="modalSendToReceivingEntityTitle" class="modal-title">Reply</h4>
    </div>
    <div class="modal-body">
      <form [formGroup]="replyForm">
        <input id="hdSendDeligationId" type="hidden" value="">
        <div class="row">
          <div class="col-sm-6 col-xs-12" id="customAttributeSenderContainer">
            <div class="form-group">
              <label class="control-label">To user:</label>
              <label class="control-label ml-1-25em">Administrator Admin</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6" id="sendPurposeContainer">
            <div class="form-group">
              <label for="ddlPrivacy" class="form-label required">Purpose</label>
              <ng-select id="ddlPurpose" formControlName="purposeId" [items]="purposes || []" bindLabel="text" bindValue="id"
                         placeholder="Select" class="form-control">
              </ng-select>
              <div *ngIf="replyForm.controls['purposeId'].invalid && replyForm.controls['purposeId'].touched"
                   class="error-msg">
                Purpose is required
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="datepicker1" class="form-label required">Due Date</label>
              <input class="form-control date-picker" matInput [matDatepicker]="picker" placeholder="dd-mm-yyyy"
                     formControlName="dueDate" name="dp1" (click)="picker.open()" />
              <mat-datepicker #picker></mat-datepicker>
              
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label class="control-label">Instruction</label>
              <textarea class="form-control" tabindex="52" rows="5" formControlName="txtArea" id="txtAreaInstruction"
                        style="visibility: hidden; display: none;">
</textarea>
            </div>
           </div>
        </div>
      </form>
      <div class="required"><span class="text-danger">*</span> Required fields</div>
    </div>
    <div class="modal-footer">
      <div class="d-flex justify-content-end gap-3 mt-1">
        <button type="button" class="btn btn-secondary btn-lg" (click)="onClose()">close</button>
        <button type="button" class="btn btn-primary btn-lg" (click)="onSave()">
          <i class="fa fa-save"></i> Save
        </button>
      </div>
    </div>
  </div>
</div>
