<div class="panel panel-default borderTop-1">
  <div class="panel-heading">
    <div class="row">
      <div class="col-sm-10 pull-left">
        {{ 'BAM.CHARTS.TITLES.COUNT_PER_STATUS' | translate }}
        <i class="fa fa-info-circle font-15 classInfoDivIcon"></i>
        <div class="font-13 classInfoDiv" style="opacity: 0;">
          {{ 'BAM.CHARTS.INFO.COUNT_PER_STATUS' | translate }}
        </div>
      </div>
      <div class="col-sm-2 pull-right">
        <button id="btnOpenSearchTransferAverageCompletionTimeModal" type="button" tabindex="3" (click)="toggleModal()"
          class="btn btn-warning pull-right btn-searchIcon" [attr.title]="'BAM.COMMON.SEARCH' | translate">
          <i class="fa fa-filter"></i>
        </button>
      </div>
    </div>
    <span id="spanTransferAverageCompletionTime" class="spanDate" [attr.todatevalue]="toDate"
      [attr.fromdatevalue]="fromDate">
      <span style="color: #444">({{ 'BAM.COMMON.FROM' | translate }} {{fromDate}} {{ 'BAM.COMMON.TO' | translate }}
        {{toDate}})</span>
    </span>
  </div>

  <div class="panel-body">
    <div *ngIf="chartOptions">
      <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions"
        style="width: 100%; height: 400px; display: block;"></highcharts-chart>
    </div>
  </div>
</div>

<!-- Modal Structure -->
<div *ngIf="isModalOpen" class="modal fade show" style="display: block;" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ 'BAM.COMMON.SELECT_DATE_RANGE' | translate }}</h5>
        <button type="button" class="close" (click)="toggleModal()" [attr.aria-label]="'BAM.COMMON.CLOSE' | translate">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="applyFilter()">
          <div class="form-group">
            <label for="fromDate">{{ 'BAM.COMMON.FROM_DATE' | translate }}</label>
            <input type="date" id="fromDate" [(ngModel)]="tempFromDate" name="tempFromDate" class="form-control"
              required>
          </div>
          <div class="form-group">
            <label for="toDate">{{ 'BAM.COMMON.TO_DATE' | translate }}</label>
            <input type="date" id="toDate" [(ngModel)]="tempToDate" name="tempToDate" class="form-control" required>
          </div>
          <button type="submit" class="btn btn-primary">{{ 'BAM.COMMON.APPLY' | translate }}</button>
        </form>
      </div>
    </div>
  </div>
</div>